nav {
  border: 10px solid #008000;
}
h4 {
  margin-top: 0;
}
.container {
  *zoom: 1;
  *zoom: 1;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #000;
}
.container:before {
  content: '';
  display: table;
}
.container:after {
  content: '';
  display: table;
  clear: both;
}
.container *:not(input):not(textarea):not(select) {
  background-color: rgba(0, 0, 255, 0.1);
}
.container:before {
  content: '';
  display: table;
}
.container:after {
  content: '';
  display: table;
  clear: both;
}
.card {
  width: calc(99.99% * 1/4 - (1em - 1em * 1/4));
  height: calc(99.99% * 1/4 - (1em - 1em * 1/4));
  position: relative;
  height: 5em;
}
.card:nth-child(n) {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
  clear: none;
}
.card:last-child {
  margin-right: 0;
  margin-bottom: 0;
}
.card:nth-child(4n) {
  margin-right: 0;
}
.card:nth-child(4n + 1) {
  clear: left;
}
.card:nth-last-child(-n + 4) {
  margin-bottom: 0;
}
.card > * {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  transform: translate(-50%, -50%);
}
.jcform {
  border: 1px solid #008000;
}
.jcform div {
  border: 1px solid #ffc0cb;
}
.jcform fieldset {
  border: 0;
  margin-bottom: 1em;
}
.jcform legend {
  margin-bottom: 1em;
}
.jcform fieldset.label-right span {
  float: right;
}
.jcform fieldset.label-right div {
  float: left;
  display: block;
  clear: both;
}
.jcform fieldset.label-right input {
  margin-right: 1em;
}
.jcform fieldset.label-left span {
  border: 1px solid #00f;
  text-align: right;
  padding-right: 1em;
  width: calc(99.999999% * 1/4);
}
.jcform fieldset.label-left span:nth-child(n) {
  float: left;
  margin-right: 0;
  clear: none;
}
.jcform fieldset.label-left span:last-child {
  margin-right: 0;
}
.jcform fieldset.label-left span:nth-child(4n) {
  margin-right: 0;
}
.jcform fieldset.label-left span:nth-child(4n + 1) {
  clear: left;
}
.jcform fieldset.label-left div {
  display: block;
  clear: both;
  width: 500px;
  *zoom: 1;
}
.jcform fieldset.label-left div:before {
  content: '';
  display: table;
}
.jcform fieldset.label-left div:after {
  content: '';
  display: table;
  clear: both;
}
.jcform fieldset.label-left input {
  width: calc(99.999999% * 5/8);
}
.jcform fieldset.label-left input:nth-child(n) {
  float: left;
  margin-right: 0;
  clear: none;
}
.jcform fieldset.label-left input:last-child {
  margin-right: 0;
}
.jcform fieldset.label-left input:nth-child(4n) {
  margin-right: 0;
}
.jcform fieldset.label-left input:nth-child(4n + 1) {
  clear: left;
}
