<h1>Welcome To Twizzler</h1>

<br><br><br>

<div class="container">
  <div class="card"><h4>My Card</h4></div>
  <div class="card"><h4>My Card</h4></div>
  <div class="card"><h4>My Card</h4></div>
  <div class="card"><h4>My Card</h4></div>
  <div class="card"><h4>My Card</h4></div>
  <div class="card"><h4>My Card</h4></div>
  <div class="card"><h4>My Card</h4></div>
  <div class="card"><h4>My Card</h4></div>
</div>  

<br><br><br><br>

<form action="http://www.yahoo.com" method="post">

  <fieldset>

      <legend>Text inputs - First name and Last name:</legend>

      <label for="firstname">
        <span>First name</span>
        <input type="text" id="first_name" name="first_name" value="">
      </label>

      <label for="lastname">
        <span>Last name</span>
        <input type="text" id="last_name" name="last_name" value="">
      </label>
    
  </fieldset>

  <fieldset>

    <legend>Radio inputs - Size:</legend>

    <label for="small">
      <span>Small</span>
      <input type="radio" name="size" id="small" value="small">
    </label>

    <label for="medium">
      <span>Medium</span>
      <input type="radio" name="size" id="medium" value="medium">
    </label>

    <label for="large">
      <span>Large</span>
      <input type="radio" name="size" id="large" value="large">
    </label>
    
  </fieldset>

  <fieldset>

    <legend>Checkbox inputs - Options:</legend>

    <label for="gift_wrap">
      <span>Gift wrap</span>
      <input type="checkbox" name="gift_wrap" id="gift_wrap" value="true">
    </label>

    <label for="embroider">
      <span>Embroider</span>
      <input type="checkbox" name="embroider" id="embroider" value="true">
    </label>
    
  </fieldset>

  <fieldset>

    <legend>Select box - Color:</legend>

    <label for="color">
      <span>Color</span>
      <select name="color">
        <option value="red">Red</option>
        <option value="green">Green</option>
        <option value="blue">Blue</option>
        <option value="pink">Pink</option>
      </select>
    </label>
    
  </fieldset>

  <fieldset>

    <legend>Textarea - Comments:</legend>

    <label for="comments">
      <span>Comments</span>
      <textarea name="comments" id="comments"></textarea>
    </label>
    
  </fieldset>

  <button type="submit">Submit</button>

  <button type="reset">Reset</button>

</form>

