<h1>Welcome To Twizzler</h1>

<br><br><br>

<div class="container">
  <div class="card"><h4>My Card</h4></div>
  <div class="card"><h4>My Card</h4></div>
  <div class="card"><h4>My Card</h4></div>
  <div class="card"><h4>My Card</h4></div>
  <div class="card"><h4>My Card</h4></div>
  <div class="card"><h4>My Card</h4></div>
  <div class="card"><h4>My Card</h4></div>
  <div class="card"><h4>My Card</h4></div>
</div>  

<br><br><br><br>

<form action="http://www.yahoo.com" method="post" class="jcform">

  <fieldset class="label-left">

    <legend>Text inputs - First name and Last name:</legend>

    <div>
      <label for="firstname">
        <span>First name</span>
        <input type="text" id="first_name" name="first_name" value="">
      </label>
    </div>

    <div>
      <label for="lastname">
        <span>Last name</span>
        <input type="text" id="last_name" name="last_name" value="">
      </label>
    </div>
    
  </fieldset>

  <fieldset class="label-right">

    <legend>Radio inputs - Size:</legend>

    <div>
      <label for="small">
        <span>Small</span>
        <input type="radio" name="size" id="small" value="small">
      </label>
    </div>
    
    <div>
      <label for="medium">
        <span>Medium</span>
        <input type="radio" name="size" id="medium" value="medium">
      </label>
    </div>
    
    <div>
      <label for="large">
        <span>Large</span>
        <input type="radio" name="size" id="large" value="large">
      </label>
    </div>
    
  </fieldset>

  <fieldset class="label-right">

    <legend>Checkbox inputs - Options:</legend>

    <div>
      <label for="gift_wrap">
        <span>Gift wrap</span>
        <input type="checkbox" name="gift_wrap" id="gift_wrap" value="true">
      </label>
    </div>
    
    <div>
      <label for="embroider">
        <span>Embroider</span>
        <input type="checkbox" name="embroider" id="embroider" value="true">
      </label>
    </div>
    
  </fieldset>

  <fieldset>

    <legend>Select box - Color:</legend>

    <div>
      <label for="color">
        <span>Color</span>
        <select name="color">
          <option value="red">Red</option>
          <option value="green">Green</option>
          <option value="blue">Blue</option>
          <option value="pink">Pink</option>
        </select>
      </label>
    </div>
    
  </fieldset>

  <fieldset>

    <legend>Textarea - Comments:</legend>

    <div>
      <label for="comments">
        <span>Comments</span>
        <textarea name="comments" id="comments"></textarea>
      </label>
    </div>

  </fieldset>

  <fieldset>

    <button type="submit">Submit</button>

    <button type="reset">Reset</button>

  </fieldset>

</form>

<p class="responsive">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<div id="app">
  <h3>{{message}}</h3>
</div>

<script type="text/javascript">
  var data = {
    message: 'Hello World'
  }

  new Vue({
    el: '#app',
    data: data
  });


</script>



