@import "components/nav.styl"
@import "pages/user.styl"

h4
  margin-top 0

.container
  lost-utility clearfix
  lost-utility edit
  lost-center 800px
  border 1px solid black

.card
  lost-waffle 1/4 4 1em
  lost-align center
  height 5em

.jcform
  border 1px solid green

.jcform div
  border 1px solid pink

.jcform fieldset
  border 0
  margin-bottom 1em

.jcform legend
  margin-bottom 1em

// label-right

.jcform fieldset.label-right span
  float right

.jcform fieldset.label-right div
  float left
  display block
  clear both

.jcform fieldset.label-right input
  margin-right: 1em


// label-left

.jcform fieldset.label-left span
  border 1px solid blue
  text-align: right
  padding-right: 1em
  lost-column 1/4 4 0

.jcform fieldset.label-left div
  display block
  clear both
  width 500px
  lost-utility clearfix  

.jcform fieldset.label-left input
  lost-column 5/8 4 0


