@import "components/nav.styl"
@import "pages/user.styl"

.container
  lost-utility: clearfix
  lost-utility: edit
  width:800px
  margin: auto
  border: 1px solid black

.card
  lost-column: 1/4
  height: 50px
