@import "components/nav.styl"
@import "pages/user.styl"

h4
  margin-top: 0

.container
  lost-utility: clearfix
  lost-utility: edit
  lost-center: 800px
  border: 1px solid black

.card
  lost-waffle: 1/4 4 15px
  lost-align: center
  height: 50px


