<!DOCTYPE html>
<html>
<head>
  <title>TwizzlerRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <nav>
      <ul>
        <li>
          <a href="/">
            Home
          </a>  
        </li>
        <li>
          <a href="/users">
            Users
          </a>  
        </li>
        <li>
          <a href="/twizzles">
            Twizzles
          </a>  
        </li>           
        <li>
          <a href="/users/new">
            Sign Up
          </a>  
        </li>
        <li>
          <a href="/login">
            Log In
          </a>  
        </li>        
      </ul>
    </nav>
  </header>

<%= yield %>

</body>
</html>
